fastapi
uvicorn[standard]
jinja2
python-multipart
qrcode
pandas
openpyxl
xlrd
python-jose[cryptography]
python-dotenv
aiofiles
httpx
openai
volcengine-python-sdk[ark]
pillow
passlib
gunicorn
docx2pdf
pycryptodome
beautifulsoup4
lxml
requests
gevent
Flask-SocketIO    # 用于替代 classshare 原本的 WebSocket 在线研讨功能